/* VARIABLES */
:root {
    --primary-color: #212529;
    --primary-color-rgb: 33, 37, 41;
    /* RGB variable for opacity purposes */
    --secondary-color: #f5f5f5;
    --light-grey-color: #dddfe0;
}



/* GLOBAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* COLOR OVERRIDES */
.bg-dark {
    background-color: var(--primary-color) !important;
}

.btn-outline-secondary {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-outline-secondary:hover {
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

/* Changes the color for the slider */
.form-range::-webkit-slider-thumb {
    background: var(--primary-color) !important;
}

.form-range::-moz-range-thumb {
    background: var(--primary-color) !important;
}



/* FOOTER: SOCIAL MEDIA ICONS */
.social-media-icons {
    width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

/* FOOTER: FULL BLEED DOWN */
.full-bleed-down {
    box-shadow: 0 0 0 100vmax var(--primary-color);
    clip-path: inset(0 0 -100vmax 0);
}



/* NAVBAR: LOGO SIZE */
.navbar-brand {
    position: relative;
    width: 100px;
    left: 15px;
}

/* NAVBAR: HOVER EFFECT */
.hover-effect {
    transition: all 0.3s ease;
    padding: 8px;
    border: 1px solid transparent;
}

.hover-effect:hover {
    border: 1px solid white;
    border-radius: 8px;
}

/* Remover os pontos das lista não ordenadas */
.list-unstyled {
    list-style: none;
}



/* CARDAS: VAGAS */
.img-vagas {
    max-width: 150px;
    min-width: 90px;
}



/* ASIDE: FILTERS */
#inline-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--light-grey-color);
}

#inline-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#search-box {
    border: 1px solid var(--light-grey-color);
}

/* formato field */
.form-select:focus {
    border-color: none;
    box-shadow: 0 0 0 0 rgba(var(--primary-color-rgb), 0);
}

/* checkboxes */
.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Optional: Change the focus state color as well */
.form-check-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--primary-color-rgb), 0.25);
}