:root {
    --primary-color: black;
    --secondary-color: whitesmoke;
}

/* bg-dark OVERRIDE */
.bg-dark {
    background-color: var(--primary-color) !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand {
    position: relative;
    width: 100px;
    left: 15px;
}

.social-media-icons {
    width: 38px;
    height: 38px;
}

.btn-outline-secondary {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-outline-secondary:hover {
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}

.full-bleed-down {
    box-shadow: 0 0 0 100vmax var(--primary-color);
    clip-path: inset(0 0 -100vmax 0);
}